name: lichess_mobile
description: Lichess mobile app V2

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 0.3.0+22

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.18.0
  flutter_riverpod: ^2.3.4
  riverpod_annotation: ^2.0.1
  freezed_annotation: ^2.2.0
  json_annotation: ^4.7.0
  http: ^0.13.5
  flutter_appauth: ^6.0.0
  flutter_secure_storage: ^8.0.0
  logging: ^1.1.0
  shared_preferences: ^2.1.0
  cached_network_image: ^3.2.2
  dartchess: ^0.1.0
  chessground: ^1.0.1
  soundpool: ^2.3.0
  meta: ^1.8.0
  deep_pick: ^1.0.0
  timeago: ^3.3.0
  collection: ^1.16.0
  fast_immutable_collections: ^9.0.0
  result_extensions: ^0.1.0
  async: ^2.10.0
  package_info_plus: ^4.0.0
  url_launcher: ^6.1.9
  flutter_layout_grid: ^2.0.1
  sqflite: ^2.2.5
  path: ^1.8.2
  connectivity_plus: ^4.0.0
  share_plus: ^7.0.0
  fl_chart: ^0.63.0
  stream_transform: ^2.1.0
  flutter_native_splash: ^2.2.19
  stockfish: ^1.4.0
  firebase_crashlytics: 3.3.0
  firebase_core: 2.12.0
  flutter_displaymode: ^0.6.0
  web_socket_channel: ^2.4.0
  device_info_plus: ^9.0.2
  crypto: ^3.0.3
  signal_strength_indicator: ^0.4.1

dev_dependencies:
  build_runner: ^2.3.2
  riverpod_generator: ^2.1.0
  custom_lint: ^0.4.0
  riverpod_lint: ^1.3.1
  dart_code_metrics: ^5.7.2
  flutter_test:
    sdk: flutter
  freezed: ^2.3.4
  json_serializable: ^6.5.4
  lint: ^2.0.1
  mocktail: ^0.3.0
  mockito: ^5.4.0
  sqflite_common_ffi: ^2.2.3

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/images/
    - assets/sounds/futuristic/
    - assets/sounds/lisp/
    - assets/sounds/nes/
    - assets/sounds/piano/
    - assets/sounds/standard/
    - assets/sounds/sfx/
    - assets/board-thumbnails/

  fonts:
    - family: LichessIcons
      fonts:
        - asset: assets/fonts/LichessIcons.ttf
    - family: SocialIcons
      fonts:
        - asset: assets/fonts/SocialIcons.ttf

  # Enable generation of localized Strings from arb files.
  generate: true

flutter_native_splash:
  color: '#ffffff'
  image: assets/images/logo-black.png

  color_dark: '#000000'
  image_dark: assets/images/logo-white.png

  android_12:
    color: '#ffffff'
    image: assets/images/android12logo-black.png

    color_dark: '#000000'
    image_dark: assets/images/android12logo-white.png

