name: lichess_mobile
description: Lichess mobile app V2
publish_to: "none"

version: 0.13.9+001309 # See README.md for details about versioning

environment:
  sdk: '^3.7.0-209.1.beta'
  # We're using the beta channel for the flutter version
  flutter: "3.28.0-0.1.pre"

dependencies:
  app_settings: ^5.1.1
  async: ^2.10.0
  auto_size_text: ^3.0.0
  cached_network_image: ^3.2.2
  chessground: ^6.1.0
  clock: ^1.1.1
  collection: ^1.17.0
  connectivity_plus: ^6.0.2
  cronet_http: ^1.3.1
  crypto: ^3.0.3
  cupertino_http: ^2.0.0
  cupertino_icons: ^1.0.2
  dartchess: ^0.9.0
  deep_pick: ^1.0.0
  device_info_plus: ^11.0.0
  dynamic_color: ^1.6.9
  fast_immutable_collections: ^10.0.0
  firebase_core: ^3.0.0
  firebase_crashlytics: ^4.0.0
  firebase_messaging: ^15.0.0
  fl_chart: ^0.69.0
  flutter:
    sdk: flutter
  flutter_appauth: ^8.0.0+1
  flutter_displaymode: ^0.6.0
  flutter_layout_grid: ^2.0.1
  flutter_linkify: ^6.0.0
  flutter_local_notifications: ^18.0.1
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.7.3+1
  flutter_native_splash: ^2.3.5
  flutter_riverpod: ^2.3.4
  flutter_secure_storage: ^9.2.0
  flutter_slidable:
    git:
      url: https://github.com/veloce/flutter_slidable.git
      ref: 89b8384667d3b6c1c2967a8ff10846bcf0a170c7
  flutter_spinkit: ^5.2.0
  freezed_annotation: ^2.2.0
  http: ^1.1.0
  intl: ^0.19.0
  json_annotation: ^4.7.0
  linkify: ^5.0.0
  logging: ^1.1.0
  material_color_utilities: ^0.11.1
  meta: ^1.8.0
  package_info_plus: ^8.0.0
  path: ^1.8.2
  popover: ^0.3.0
  pub_semver: ^2.1.4
  result_extensions: ^0.1.0
  riverpod_annotation: ^2.3.0
  share_plus: ^10.0.0
  shared_preferences: ^2.1.0
  signal_strength_indicator: ^0.4.1
  sound_effect: ^0.0.2
  sqflite: ^2.2.5
  stockfish:
    git:
      url: https://github.com/lichess-org/dart-stockfish.git
      ref: 0b4d8f20f72beb43c853230dd18063bee242487d
  stream_transform: ^2.1.0
  timeago: ^3.6.0
  url_launcher: ^6.1.9
  visibility_detector: ^0.4.0
  wakelock_plus: ^1.1.1
  web_socket_channel: ^3.0.0

dev_dependencies:
  build_runner: ^2.3.2
  custom_lint: ^0.7.0
  fake_async: ^1.3.1
  flutter_test:
    sdk: flutter
  freezed: ^2.3.4
  json_serializable: ^6.5.4
  lint: ^2.0.1
  mocktail: ^1.0.0
  network_image_mock: ^2.1.1
  riverpod_generator: ^2.1.0
  riverpod_lint: ^2.3.3
  sqflite_common_ffi: ^2.2.3
  stream_channel: ^2.1.2

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/chess_openings.db
    - assets/images/
    - assets/images/stockfish/
    - assets/images/fide-fed/
    - assets/sounds/futuristic/
    - assets/sounds/lisp/
    - assets/sounds/nes/
    - assets/sounds/piano/
    - assets/sounds/standard/
    - assets/sounds/sfx/
    - assets/board-thumbnails/

  fonts:
    - family: LichessIcons
      fonts:
        - asset: assets/fonts/LichessIcons.ttf
    - family: SocialIcons
      fonts:
        - asset: assets/fonts/SocialIcons.ttf
    - family: ChessFont
      fonts: 
        - asset: assets/fonts/ChessSansPiratf.ttf
    - family: LichessPuzzleIcons
      fonts:
        - asset: assets/fonts/PuzzleIcons.ttf

  # Enable generation of localized Strings from arb files.
  generate: true

flutter_native_splash:
  color: '#ffffff'
  image: assets/images/logo-black.png

  color_dark: '#000000'
  image_dark: assets/images/logo-white.png

  android_12:
    color: '#ffffff'
    image: assets/images/android12logo-black.png

    color_dark: '#000000'
    image_dark: assets/images/android12logo-white.png

