name: lichess_mobile
description: Lichess mobile app V2
publish_to: "none"

version: 0.19.0+001900 # See README.md for details about versioning

environment:
  # this should be updated with every new flutter stable release
  sdk: ^3.10.0
  flutter: ^3.38.0

dependencies:
  app_settings: ^7.0.0
  async: ^2.10.0
  auto_size_text: ^3.0.0
  cached_network_image: ^3.2.2
  chessground: ^7.3.0
  clock: ^1.1.1
  collection: ^1.17.0
  connectivity_plus: ^7.0.0
  cronet_http: ^1.3.1
  crypto: ^3.0.3
  cupertino_http: ^2.0.0
  cupertino_icons: ^1.0.2
  dartchess: ^0.11.0
  deep_pick: ^1.0.0
  device_info_plus: ^12.1.0
  dynamic_system_colors: ^1.8.0
  fast_immutable_collections: ^11.0.0
  firebase_core: ^4.0.0
  firebase_crashlytics: ^5.0.0
  firebase_messaging: ^16.0.0
  fl_chart: ^1.0.0
  flutter:
    sdk: flutter
  flutter_appauth: ^11.0.0
  flutter_cache_manager: ^3.4.1
  flutter_displaymode: ^0.7.0
  flutter_layout_grid: ^2.0.1
  flutter_linkify: ^6.0.0
  flutter_local_notifications: ^19.0.0
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.7.3+1
  flutter_native_splash: ^2.3.5
  flutter_riverpod: ^3.0.3
  flutter_secure_storage: ^10.0.0-beta.4
  flutter_slidable: ^4.0.0
  flutter_spinkit: ^5.2.0
  freezed_annotation: ^3.0.0
  http: ^1.1.0
  image_picker: ^1.1.2
  intl: ^0.20.2
  json_annotation: ^4.7.0
  l10n_esperanto: ^2.0.14
  linkify: ^5.0.0
  logging: ^1.1.0
  material_color_utilities: ^0.11.1
  material_symbols_icons: ^4.2811.0
  meta: ^1.8.0
  multistockfish: ^0.3.0
  package_info_plus: ^9.0.0
  path: ^1.8.2
  path_provider: ^2.1.5
  popover: ^0.4.0
  pub_semver: ^2.1.4
  quick_actions: ^1.1.0
  result_extensions: ^0.2.0
  share_plus: ^12.0.0
  shared_preferences: ^2.1.0
  signal_strength_indicator: ^0.4.1
  sound_effect: ^0.1.1
  sqflite: ^2.2.5
  sqflite_common_ffi: ^2.2.3
  stream_transform: ^2.1.0
  url_launcher: ^6.1.9
  visibility_detector: ^0.4.0
  wakelock_plus: ^1.1.1
  web_socket_channel: ^3.0.0

dev_dependencies:
  build_runner: ^2.3.2
  custom_lint: ^0.8.1
  fake_async: ^1.3.1
  flutter_test:
    sdk: flutter
  freezed: ^3.0.0
  freezed_lint: ^0.0.7
  json_serializable: ^6.5.4
  lint: ^2.0.1
  mocktail: ^1.0.0
  riverpod_lint: ^3.0.3
  stream_channel: ^2.1.2
  wakelock_plus_platform_interface: ^1.3.0

dependency_overrides:
  flutter_secure_storage_linux:
    git:
      url: https://github.com/christianfl/flutter_secure_storage.git
      path: flutter_secure_storage_linux
      ref: v10.0.0-beta.4-literal_operator_fix

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/chess_openings.db
    - assets/images/
    - assets/images/stockfish/
    - assets/images/fide-fed/
    - assets/sounds/futuristic/
    - assets/sounds/lisp/
    - assets/sounds/nes/
    - assets/sounds/piano/
    - assets/sounds/standard/
    - assets/sounds/sfx/
    - assets/board-thumbnails/
    - assets/positions.json
    - assets/endgames.json

  fonts:
    - family: LichessIcons
      fonts:
        - asset: assets/fonts/LichessIcons.ttf
    - family: SocialIcons
      fonts:
        - asset: assets/fonts/SocialIcons.ttf
    - family: ChessFont
      fonts:
        - asset: assets/fonts/ChessSansPiratf.ttf
    - family: LichessPuzzleIcons
      fonts:
        - asset: assets/fonts/PuzzleIcons.ttf

  # Enable generation of localized Strings from arb files.
  generate: true

flutter_native_splash:
  android: false
  ios: true
  web: false

  color: "#ffffff"
  image: assets/images/logo-black.png

  color_dark: "#000000"
  image_dark: assets/images/logo-white.png
