name: lichess_mobile
description: Lichess mobile app V2

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 0.6.11+000611 # see README.md for details about versioning

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  async: ^2.10.0
  cached_network_image: ^3.2.2
  chessground: ^2.2.1
  collection: ^1.17.0
  connectivity_plus: ^5.0.0
  crypto: ^3.0.3
  cupertino_http: ^1.1.0
  cupertino_icons: ^1.0.2
  dartchess: ^0.6.1
  deep_pick: ^1.0.0
  device_info_plus: ^9.0.2
  fast_immutable_collections: ^10.0.0
  firebase_core: ^2.15.0
  firebase_crashlytics: ^3.3.4
  firebase_messaging: ^14.7.8
  fl_chart: ^0.66.0
  flutter:
    sdk: flutter
  flutter_appauth: ^6.0.0
  flutter_displaymode: ^0.6.0
  flutter_layout_grid: ^2.0.1
  flutter_linkify: ^6.0.0
  flutter_localizations:
    sdk: flutter
  flutter_native_splash: ^2.3.5
  flutter_riverpod: ^2.3.4
  flutter_secure_storage: ^9.0.0
  flutter_slidable: ^3.0.0
  flutter_spinkit: ^5.2.0
  freezed_annotation: ^2.2.0
  http: ^1.1.0
  intl: ^0.18.0
  json_annotation: ^4.7.0
  linkify: ^5.0.0
  logging: ^1.1.0
  meta: ^1.8.0
  package_info_plus: ^5.0.1
  path: ^1.8.2
  popover: ^0.2.8+2
  result_extensions: ^0.1.0
  riverpod_annotation: ^2.3.0
  share_plus: ^7.0.0
  shared_preferences: ^2.1.0
  signal_strength_indicator: ^0.4.1
  soundpool:
    git:
     url: https://github.com/lichess-org/flutter-soundpool.git
     ref: 3900871fd9b6eec4a2437dbdc2946c96ca1f58fd
  sqflite: ^2.2.5
  stockfish:
   git:
     url: https://github.com/lichess-org/dart-stockfish.git
     ref: dc160c6ae339e4aa0b64ce50980a1b5ca5597d42
  stream_transform: ^2.1.0
  system_info_plus: ^0.0.5
  timeago: ^3.6.0
  url_launcher: ^6.1.9
  wakelock_plus: ^1.1.1
  web_socket_channel: ^2.4.0

dev_dependencies:
  build_runner: ^2.3.2
  custom_lint: ^0.5.2
  flutter_test:
    sdk: flutter
  freezed: ^2.3.4
  json_serializable: ^6.5.4
  lint: ^2.0.1
  mocktail: ^1.0.0
  riverpod_generator: ^2.1.0
  riverpod_lint: ^2.3.3
  sqflite_common_ffi: ^2.2.3
  stream_channel: ^2.1.2

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/chess_openings.db
    - assets/images/
    - assets/images/stockfish/
    - assets/sounds/futuristic/
    - assets/sounds/lisp/
    - assets/sounds/nes/
    - assets/sounds/piano/
    - assets/sounds/standard/
    - assets/sounds/sfx/
    - assets/board-thumbnails/

  fonts:
    - family: LichessIcons
      fonts:
        - asset: assets/fonts/LichessIcons.ttf
    - family: SocialIcons
      fonts:
        - asset: assets/fonts/SocialIcons.ttf
    - family: ChessFont
      fonts: 
        - asset: assets/fonts/ChessSansPiratf.ttf
    - family: LichessPuzzleIcons
      fonts:
        - asset: assets/fonts/PuzzleIcons.ttf

  # Enable generation of localized Strings from arb files.
  generate: true

flutter_native_splash:
  color: '#ffffff'
  image: assets/images/logo-black.png

  color_dark: '#000000'
  image_dark: assets/images/logo-white.png

  android_12:
    color: '#ffffff'
    image: assets/images/android12logo-black.png

    color_dark: '#000000'
    image_dark: assets/images/android12logo-white.png

